@import 'partials/_params.scss';
@import 'partials/_mixins.scss';
@import 'partials/_fonts.scss';

.nav-cont{
  background-color: #fff;
  opacity: 1;
  transition: opacity .5s;
}

.navcont{

  display: flex;
  justify-content: space-between;

  padding-top: 22px;
  padding-bottom: 22px;
  z-index: 12;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;

  &__img{
    width: 30%;
  }

  &__brand{
    font-size: 18px;
    color: $black;
    letter-spacing: 0.5px;
    font-weight:500;
    padding: 4px;
    padding-left: 15px;
  }
  &__button{
    @include media-breakpoint-up($md){
      display: none !important;
    }
  }
  &__list{
    display: flex;
    flex-direction: row;
    @include clear-list;
    @include media-breakpoint-down($md){
      display: none !important;
    }
    align-items: center;
  }
  &__item{
    padding-right: 15px;
    padding-left: 15px;
  }
  &__link{
    font-weight: 400;
    font-size: 15px;
    color: $black;
    letter-spacing: 0.5px;
    &:hover{
      text-decoration: none;
    }
  }
}